node_modules
.DS_Store
.freeCodeCamp/
debug_insert_data.sh
compare.sh
create_all.sh
compare2.sh
*.log
*.tmp


.freeCodeCamp/.bashrc
.freeCodeCamp/pg_hba.conf
.freeCodeCamp/test/.cwd
.freeCodeCamp/test/.next_command
